
<!--NAVIGATION BAR-->
<div class="header">
    <a href="#default" class="logo">CryptoWatch</a>
    <div class="header-right">
        <button mat-button [routerLink]="['/home']">Home</button>
        <button mat-button [routerLink]="['/about']">About</button>
        
    </div>
</div>
<!--NAVIGATION BAR-->
<div class="card bg-light">
    <mat-card>
        <mat-card-title>CryptoWatch was made with ❤ by</mat-card-title>
        <mat-card-subtitle>Joel Fintan : Frontend Engineer</mat-card-subtitle>
        <mat-card-subtitle>Mahesh Chandran: Backend Engineer</mat-card-subtitle>
    </mat-card>
</div>
