<!--NAVIGATION BAR-->
<div class="header">
    <a href="#default" class="logo">CryptoWatch</a>
    <div class="header-right">
        <button mat-button [routerLink]="['/home']">Home</button>
        <button mat-button [routerLink]="['/about']">About</button>
        <button mat-button [routerLink]="['/login']">Sign In</button>
    </div>
</div>
<!--NAVIGATION BAR-->
<span></span>
<div class="card bg-light">
  <div class="card-body">
    <form class="form-horizontal" 
      [formGroup]="loginForm" 
          (ngSubmit)="loginWithEmail()">
          <fieldset>
            <mat-card>
              <div class="mat-card-container">
              <legend>Login</legend>
              <div class="form-group">
                <mat-form-field>
                  <input matInput placeholder="Enter your email" [formControl]="email" required>
              
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field>
                  <input matInput placeholder="Enter your password" [formControl]="password" [type]="hide ? 'password' : 'text'" required>
                  <mat-icon matSuffix (click)="hide = !hide"></mat-icon>
              
                </mat-form-field>
              </div>
              <div class="form-group">
                <button mat-button type="submit" [disabled]="!loginForm.valid">Submit</button>
              </div>
              </div>
          </mat-card>
            <h2 align="center"> OR</h2><br>
            <div class="social-container">
            <button type="button" mat-button class="btn btn-google" (click)="loginWithGoogle()">
              <i class="fa fa-google" aria-hidden="true"></i>
              Login with Google
            </button>
            <button type="button" mat-button class="btn btn-facebook" (click)="loginWithFacebook()">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              Login with Facebook
            </button>
            <button type="button" mat-button class="btn btn-github" (click)="loginWithGithub()">
              <i class="fa fa-github" aria-hidden="true"></i>
              Login with Github
            </button>
            <button type="button" mat-button class="btn btn-twitter" (click)="loginWithTwitter()">
              <i class="fa fa-twitter" aria-hidden="true"></i>
              Login with Twitter
            </button>
            </div>
        <p class="text-center">Don't have an account? 
          <a [routerLink]="['/signup']">Sign Up </a>now.
        </p>
  </fieldset>
</form>
</div>
</div>

<h3 class="text-danger"> {{error}}</h3>
