span{
    padding-top: 50px;
}
legend{
    text-align: center;
}
button.btn {
    margin-bottom: 5px;
    text-align: center;
        max-width: 250px;
}
div.card {
    margin-top: 10px;
    margin-bottom: 10px;
}
div.text-danger {
    min-width: 200px;
}

mat-card {
    max-width: 300px;
    margin: auto;
    padding-bottom: 50px; 
}

* {box-sizing: border-box;}


body { 


}

.header {
  overflow: hidden;
  background-color: #3a3a3a;
  padding: 20px 10px;
}

.header button {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 35px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: rgb(0, 0, 0);
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
button.btn {
    color:#ddd;
}
a.text-danger {
        margin: auto;
        font-size: 12px;
    }

