<h1> Ripple </h1>

<h2>Prices of Ripple from different exchanges:</h2>

<ul>
  <li> BTCXIndia: {{ rippleBTCXIndiaINR}} INR</li>
  <li> Bitstamp: {{ rippleBitstampUSD }} USD</li>
  <li> Kraken: {{ rippleKrakenUSD }}</li>
  <br>
  <li> Ripple Current Price Aggreate ( Indian Markets ): {{ rippleCCCAGGINR }} INR</li>
  <li> Ripple Current Price Aggreate ( US Markets ): {{ rippleCCCAGGUSD }} USD</li> 
</ul>

<button [routerLink]="['/bitcoin']">Check Bitcoin Prices</button>
<button [routerLink]="['/ethereum']">Check Ethereum Prices</button>
