<!--NAVIGATION BAR-->
<div class="header">
  <a href="#default" class="logo">CryptoWatch</a>
  <div class="header-right">
    <button mat-button [routerLink]="['/home']">Home</button>
    <button mat-button [routerLink]="['/about']">About</button>
    <button mat-button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
  </div>
</div>
<!--NAVIGATION BAR-->
<span></span>
<div class="card bg-light" style="width:auto">
  <button mat-button type="button" class="btn btn-secondary" (click)="goToDashboard()">Go back to Dashboard</button>
  <mat-card>
    <div class="row">
      <div class="col">
        <img src="">
      </div>
      <div class="col">
        <legend class="display-4">Ripple</legend>
      </div>
      <div class="col"></div>
      <!--1st row ends here-->
    </div>
    <!--2nd row-->
    <div class="row">
      <div class="col">
    
        <legend class="display-4" style="font-size:20px;">Indian Exchange</legend>
        <table class="table table-dark table-responsive table-hover">
          <thead>
            <tr>
              <th></th>
              <th>BTCXIndia</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>{{fetchingPricesBTCXINR}}</td>
            </tr>
            <tr>
              <th>Current Market Price</th>
              <td>{{ rippleBTCXIndiaINR}} INR</td>
            </tr>
            <tr>
              <th>Status</th>
              <td>{{comparePricesBTCXINR}}</td>
            </tr>
          </tbody>
        </table>
    
      </div>
      <div class="col">
    
        <legend class="display-4" style="font-size:20px;">US Exchange</legend>
        <table class="table table-dark table-responsive table-hover">
          <thead>
            <tr>
              <th></th>
              <th>Bitstamp</th>
              <th>Kraken</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>{{fetchingPricesBitUSD}}</td>
              <td>{{fetchingPricesKraUSD}}</td>
            </tr>
            <tr>
              <th>Current Market Price</th>
              <td>{{ rippleBitstampUSD }} USD</td>
              <td>{{ rippleKrakenUSD }} USD</td>
            </tr>
            <tr>
              <th>Status</th>
              <td>{{comparePricesBitUSD}}</td>
              <td>{{comparePricesKraUSD}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--2nd row ends here-->
    <!--3rd row-->
    <div class="row">
      <div class="col">
        <h3>Current Price Aggreate</h3>
        <span></span>
      </div>
    </div>
    <!--3rd row ends here-->
    <!--4th row-->
    <div class="row">
      <div class="col">
        <legend class="display-4" style="font-size:20px;">Indian Market</legend>
        <a mat-button>{{ fetchingPricesCCCINR }}</a>
        <table class="table table-dark table-responsive table-hover">
          <tbody>
            <tr>
              <th>Current Price Aggreate</th>
              <td>{{ bitcoinCCCAGGINR }} INR</td>
            </tr>
            <tr>
              <th>Status</th>
              <td>{{ comparePricesCCCINR}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col">
        <legend class="display-4" style="font-size:20px;">US Market</legend>
        <a mat-button>{{fetchingPricesCCCUSD}}</a>
        <table class="table table-dark table-responsive table-hover">
          <tbody>
            <tr>
              <th>Current Price Aggreate</th>
              <td>{{ bitcoinCCCAGGUSD }} USD</td>
            </tr>
            <tr>
              <th>Status</th>
              <td>{{comparePricesCCCUSD}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-card>
  <div class="row">
    <div class="col clearfix">
      <button mat-button type="button" class="btn btn-dark float-left" (click)="goToEthereum()">Check Ethereum Prices</button>
    </div>
    <div class="col">

    </div>
    <div class="col clearfix">
      <button mat-button type="button" class="btn btn-dark float-right" (click)="goToBitcoin()">Check Bitcoin Prices</button>
    </div>
  </div>
  <!--Card ends here-->
</div>





<!--h1> Ripple </h1>

<h1> Ripple </h1>
<p>Name: {{name}}</p>
<img src="{{photoURL}}">
<h2>Prices of Ripple from different exchanges:</h2>

<ul>
  <li> BTCXIndia: {{ rippleBTCXIndiaINR}} INR  {{comparePricesBTCXINR}}   {{fetchingPricesBTCXINR}} </li>
  <li> Bitstamp: {{ rippleBitstampUSD }} USD   {{comparePricesBitUSD}}   {{fetchingPricesBitUSD}} </li>
  <li> Kraken: {{ rippleKrakenUSD }} USD  {{comparePricesKraUSD}}  {{fetchingPricesKraUSD}} </li>
  <br>
  <li> Ripple Current Price Aggreate ( Indian Markets ): {{ rippleCCCAGGINR }} INR  {{comparePricesCCCINR}}  {{fetchingPricesCCCINR}} </li>
  <li> Ripple Current Price Aggreate ( US Markets ): {{ rippleCCCAGGUSD }} USD  {{comparePricesCCCUSD}}  {{fetchingPricesKraUSD}} </li> 
</ul>

<button (click)="goToBitcoin()">Check Bitcoin Prices</button>
<button (click)="goToEthereum()">Check Ethereum Prices</button>
<button (click)="goToDashboard()">Go back to Dashboard</button-->
