@import url('https://fonts.googleapis.com/css?family=Roboto|Titillium+Web');

footer{
    text-align: center;
    font: size 15px;
    color: rgb(0, 0, 0);
}
span {
  

    font-family: 'Roboto', sans-serif;

    font-family: 'Titillium Web', sans-serif;


}

