
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
  crossorigin="anonymous">
<span>
<div class="container">
  <router-outlet></router-outlet>

<mat-divider></mat-divider>
<footer>
  <small>&copy; CryptoWatch 2018</small><br>
  <button mat-button [routerLink]="['/about']">About</button>
  <button mat-button [routerLink]="['/privacy']">Privacy Policy</button>
</footer>
</div>
</span>