<h1> Bitcoin </h1>

<h2>Prices of Bitcoin from different exchanges:</h2>

<ul>
  <li> Unocoin: {{ bitcoinUnocoinINR}} INR</li>
  <li> Remitano: {{ bitcoinRemitanoINR }} INR</li>
  <li> Coinbase: {{ bitcoinCoinbaseUSD }} USD</li>
  <li> Karken: {{ bitcoinKrakenUSD }} USD</li>    
  <br>
  <li> Bitcoin Current Price Aggreate ( Indian Market ): {{ bitcoinCCCAGGINR }} INR</li> 
  <li> Bitcoin Current Price Aggreate ( US Market ): {{ bitcoinCCCAGGUSD }} USD</li>
</ul>

<button (click)="goToEthereum()">Check Ethereum Prices</button>
<button (click)="goToRipple()">Check Ripple Prices</button>
<button (click)="goToDashboard()">Go back to Dashboard</button>