<!--NAVIGATION BAR-->
<div class="header">
  <a href="#default" class="logo">CryptoWatch</a>
  <div class="header-right">
    <button mat-button [routerLink]="['/home']">Home</button>
    <button mat-button [routerLink]="['/about']">About</button>
<button mat-button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
  </div>
</div>
<!--NAVIGATION BAR-->
<span></span>
<div class="card bg-light" style="width:auto">
<button mat-button type="button" class="btn btn-secondary" (click)="goToDashboard()">Go back to Dashboard</button>
<mat-card> 
<div class="row">
    <div class="col">
      <img src="">
    </div>
    <div class="col">
      <legend class="display-4">Bitcoin</legend>
    </div>
    <div class="col"></div>
  <!--1st row ends here-->
  </div>
    <div class="row">
      <div class="col">
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th>Indian Exchange</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Unocoin: {{ bitcoinUnocoinINR}} INR</td>
            </tr>
            <tr>
              <td>Remitano: {{ bitcoinRemitanoINR }} INR</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col">
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th>US Exchange</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Coinbase: {{ bitcoinCoinbaseUSD }} USD</td>
            </tr>
            <tr>
              <td>Karken: {{ bitcoinKrakenUSD }} USD</td>
            </tr>
          </tbody>
        </table>
      </div>
    <!--2nd row ends here-->
    </div>
    <div class="row">
      <div class="col">
        <h3>Current Price Aggreate</h3>
      </div>
    <!--3rd row ends here-->
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th>Indian Market</th>
             </tr>
          </thead>
          <tbody>
             <tr>
              <td>{{ bitcoinCCCAGGINR }} INR</td>
             </tr>
          </tbody>
        </table>
      </div>
      <div class="col">
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th>US Market</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ bitcoinCCCAGGUSD }} USD</td>
            </tr>
          </tbody>
        </table>
      </div>
    <!--4th row ends here-->
    </div>
    </mat-card>
    <div class="row">
      <div class="col clearfix">
        <button mat-button type="button" class="btn btn-dark float-left" (click)="goToEthereum()">Check Ethereum Prices</button>
      </div>
      <div class="col">
      
      </div>
      <div class="col clearfix">
        <button mat-button type="button" class="btn btn-dark float-right" (click)="goToRipple()">Check Ripple Prices</button>
      </div>
    </div>
<!--Card ends here-->    
</div>











<!--h1> Bitcoin </h1>

<h1> Bitcoin </h1>
<p>Name: {{name}}</p>
<img src="{{photoURL}}">
<h2>Prices of Bitcoin from different exchanges:</h2>


<ul>
  <li> Unocoin: {{ bitcoinUnocoinINR}} INR</li>
  <li> Remitano: {{ bitcoinRemitanoINR }} INR</li>
  <li> Coinbase: {{ bitcoinCoinbaseUSD }} USD</li>
  <li> Karken: {{ bitcoinKrakenUSD }} USD</li>    
  <br>
  <li> Bitcoin Current Price Aggreate ( Indian Market ): {{ bitcoinCCCAGGINR }} INR</li> 
  <li> Bitcoin Current Price Aggreate ( US Market ): {{ bitcoinCCCAGGUSD }} USD</li>
</ul>

<button (click)="goToEthereum()">Check Ethereum Prices</button>
<button (click)="goToRipple()">Check Ripple Prices</button>
<button (click)="goToDashboard()">Go back to Dashboard</button-->