<!--NAVIGATION BAR-->
<div class="header">
  <a href="#default" class="logo">CryptoWatch</a>
  <div class="header-right">
    <button mat-button [routerLink]="['/home']">Home</button>
    <button mat-button [routerLink]="['/about']">About</button>
    <button mat-button [routerLink]="['/login']">Sign In</button>
  </div>
</div>
<!--NAVIGATION BAR-->
<span></span>
<div class="card bg-light" style="width:auto">
  <div class="card-body">
    <form class="form-horizontal" [formGroup]="signupForm" (ngSubmit)="signInWithEmail()">
      <fieldset>
        <mat-card>
          <div class="mat-card-container">
          <legend>SignUp</legend>
          <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="Your Name" [formControl]="name" required>
              <mat-error *ngIf="name.invalid">{{getErrorMessagename()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Enter your email" [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessageemail()}}</mat-error>
              <mat-hint *ngIf="email">{{error}}</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Enter your password" [formControl]="password" [type]="hide ? 'password' : 'text'" required>
              <mat-icon matSuffix (click)="hide = !hide"></mat-icon>
              <mat-hint>Type a unique password</mat-hint>
          
            </mat-form-field>
            <button mat-button type="submit" [disabled]="!signupForm.valid">Submit</button>
          </div>
          </div>
        </mat-card>
  <h2 align="center"> OR</h2><br>
<div class="social-container">
            <button type="button" mat-button class="btn btn-block btn-google" (click)="signupWithGoogle()">
              <i class="fa fa-google" aria-hidden="true"></i>
              Signup with Google
            </button>
            <button type="buton" mat-button class="btn btn-block btn-facebook" (click)="signupWithFacebook()">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              Signup with Facebook
            </button>
            <button type="buton" mat-button class="btn btn-block btn-github" (click)="signupWithGithub()">
              <i class="fa fa-github" aria-hidden="true"></i>
              Signup with Github
            </button>
            <button type="buton" mat-button class="btn btn-block btn-twitter" (click)="signupWithTwitter()">
              <i class="fa fa-twitter" aria-hidden="true"></i>
              Signup with Twitter
            </button>
</div>
        <p class="text-center">Have an account?
          <a [routerLink]="['/login']">Log in</a>
        </p>
      </fieldset>
    </form>
  </div>
</div>


<h3 class="text-danger"> {{error}}</h3>
