<span></span>
<div class="card" style="width:auto">
  <button type="button" class="btn btn-secondary" (click)="goToDashboard()">Go back to Dashboard</button>
  <div class="row">
    <div class="col">
      <img src="">
    </div>
    <div class="col">
      <legend class="display-4">Ethereum</legend>
    </div>
    <!--1st row ends here-->
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th>Indian Exchange</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>EthexIndia: {{ ethereumEthexIndiaINR }} INR</td>
          </tr>
          <tr>
            <td>Remitano: {{ ethereumRemitanoINR}} INR</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th>US Exchange</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Coinbase: {{ ethereumCoinbaseUSD }} USD</td>
          </tr>
          <tr>
            <td>Karken: {{ ethereumKrakenUSD }} USD</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--2nd row ends here-->
  </div>
  <div class="row">
    <div class="col">
      <h3>Current Price Aggreate</h3>
    </div>
    <!--3rd row ends here-->
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th>Indian Market</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ethereumCCCAGGINR}} INR</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th>US Market</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ ethereumCCCAGGUSD }} USD</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--4th row ends here-->
  </div>
  <div class="row">
    <div class="col clearfix">
      <button type="button" class="btn btn-dark float-left" (click)="goToBitcoin()">Check Bitcoin Prices</button>
    </div>
    <div class="col">

    </div>
    <div class="col clearfix">
      <button type="button" class="btn btn-dark float-" (click)="goToRipple()">Check Ripple Prices</button>
    </div>
  </div>
  <!--Card ends here-->
</div>










<!--h1> Ethereum </h1>

<h2>Prices of Ethereum from different exchanges:</h2>

<ul>
  <li> EthexIndia: {{ ethereumEthexIndiaINR }} INR </li>
  <li> Remitano: {{ ethereumRemitanoINR}} INR </li>
  <li> Coinbase: {{ ethereumCoinbaseUSD }} USD</li>
  <li> Karken: {{ ethereumKrakenUSD }} USD</li>    
  <br>
  <li> Ethereum Current Price Aggreate ( Indian Market ): {{ethereumCCCAGGINR}} INR</li> 
  <li> Ethereum Current Price Aggreate ( US Market ): {{ ethereumCCCAGGUSD }} USD</li>
</ul>

<button (click)="goToBitcoin()">Check Bitcoin Prices</button>
<button (click)="goToRipple()">Check Ripple Prices</button>
<button (click)="goToDashboard()">Go back to Dashboard</button-->