<h1> Ethereum </h1>

<h2>Prices of Ethereum from different exchanges:</h2>

<ul>
  <li> EthexIndia: {{ ethereumEthexIndiaINR }} INR </li>
  <li> Remitano: {{ ethereumRemitanoINR}} INR </li>
  <li> Coinbase: {{ ethereumCoinbaseUSD }} USD</li>
  <li> Karken: {{ ethereumKrakenUSD }} USD</li>    
  <br>
  <li> Ethereum Current Price Aggreate ( Indian Market ): {{ethereumCCCAGGINR}} INR</li> 
  <li> Ethereum Current Price Aggreate ( US Market ): {{ ethereumCCCAGGUSD }} USD</li>
</ul>

<button [routerLink]="['/bitcoin']">Check Bitcoin Prices</button>
<button [routerLink]="['/ripple']">Check Ripple Prices</button>