<h1> Ethereum </h1>
<p>Name: {{name}}</p>
<img src="{{photoURL}}">

<h2>Prices of Ethereum from different exchanges:</h2>

<ul>
  <li> EthexIndia: {{ ethereumEthexIndiaINR }} INR {{comparePricesEthexINR}} {{fetchingPricesEthexINR}} </li>
  <li> Remitano: {{ ethereumRemitanoINR}} INR  {{comparePricesRemINR}}  {{fetchingPricesRemINR}} </li>
  <li> Coinbase: {{ ethereumCoinbaseUSD }} USD {{comparePricesCoinUSD}} {{fetchingPricesCoinUSD}}  </li>
  <li> Karken: {{ ethereumKrakenUSD }} USD {{comparePricesKraUSD}} {{fetchingPricesKraUSD}}  </li>    
  <br>
  <li> Ethereum Current Price Aggreate ( Indian Market ): {{ethereumCCCAGGINR}} INR  {{comparePricesCCCINR}}  {{fetchingPricesCCCINR}} </li> 
  <li> Ethereum Current Price Aggreate ( US Market ): {{ ethereumCCCAGGUSD }} USD {{comparePricesCCCUSD}}  {{fetchingPricesCCCUSD}} </li>
</ul>

<button (click)="goToBitcoin()">Check Bitcoin Prices</button>
<button (click)="goToRipple()">Check Ripple Prices</button>
<button (click)="goToDashboard()">Go back to Dashboard</button>