<!--NAVIGATION BAR-->
<div class="header">
    <a href="#default" class="logo">CryptoWatch</a>
    <div class="header-right">
        <button mat-button [routerLink]="['/home']">Home</button>
        <button mat-button [routerLink]="['/about']">About</button>
        <button mat-button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
    </div>
</div>
<!--NAVIGATION BAR-->
<span></span>

<div class="card bg-light" style="width:auto">
    <div class="row">
    <div class="col">
            <div class="card-title display-4">Dashboard</div>
    </div>
    </div>

    <div class="card-body">
        <div class="col card-container">
            <mat-card>
                <!--FLEX CONTAINER-->
                <div class="flex-container">
                    <img mat-card-image class="img-responsive" src="{{photoURL}}" class="rounded-circle" alt="{{name}}">
                    <legend>{{name}}</legend>
                    <p class="text-center">Check Prices</p>
                    <div class="row" id="btns">
                            <button mat-button [routerLink]="['/bitcoin']">Bitcoin</button>
                            <button mat-button [routerLink]="['/ethereum']">Ethereum</button>
                            <button mat-button [routerLink]="['/ripple']">Ripple</button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

</div>
