<!--NAVIGATION BAR-->
<div class="header">
    <a href="#default" class="logo">CryptoWatch</a>
    <div class="header-right">
        <button mat-button [routerLink]="['/home']">Home</button>
        <button mat-button [routerLink]="['/about']">About</button>
        <button mat-button [routerLink]="['/login']">Sign In</button>
    </div>
</div>
<!--NAVIGATION BAR-->
<div class="jumbotron jumbotron-billboard">
    <div class="img"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>CryptoWatch</h2>
                <p>
                 CryptoWatch is an online platform that allow users to track cryptocurrency in real-time
                </p>
            </div>
        </div>
    </div>
</div>
<br>

<!--TEMPLATE-->
        <div class="card bg-light" style="width:auto">
            <div class="card-body">
    <p id="caption"> Simple. Real-time. Informative.</p>
<br>
    <h4>We help you make wise and informed financial choices</h4>
    <br>
<div class="row">
    <!--div class="col">
    </div-->
    <div class="col">
        <div class="col-sm">
                <mat-card>
                <h4 class="card-title"> Login to use our services</h4>
                <div class="row">
                    <div class="col"></div>
                    <div class="col"><button mat-button type="button" class="btn btn-primary btn-lg" [routerLink]="['/login']">Login</button></div>
                    <div class="col"></div>
                </div>

                <br>
                <h4>Don't have an account?</h4>
                <h5>Sign up for one. It's Free!</h5>
                    <div class="row">
                                    <div class="col"></div>
                                    <div class="col">
                                        <button type="button" class="btn btn-secondary" [routerLink]="['/signup']">Sign Up</button>
                                    </div>
                                    <div class="col"></div>
                                </div>
                                </mat-card>
            </div>
            </div>
        </div>
    </div>
    <!--div class="col">
    </div-->
</div>
<br>
<br>

